<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
         http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
    <!-- AMOP消息处理线程池配置，根据实际需要配置 -->
	<bean id="pool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="50" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
		<property name="keepAliveSeconds" value="60" />
		<property name="rejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy" />
		</property>
	</bean>
	
    <!-- 区块链节点信息配置 -->
    <bean id="channelService" class="org.bcos.channel.client.Service">
		<property name="orgID" value="User" />
		<property name="allChannelConnections">
			<map>
 				<entry key="User">
 					<bean class="org.bcos.channel.handler.ChannelConnections">
 						<property name="connectionsStr">
 							<list> 
 								<value>b02b23fafd1b12df773dc6e92f497ae453e09d58551e6dcfedb9516a9c797069cc3631be8462da366b9440d9e8062b2eb0ea3bccede44609a5e1be98ff4bef7b@10.107.105.26:8541</value>
 							</list>
 						</property>
 					</bean>
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- 公钥信息配置 -->
	<bean id="addressConf" class="org.bcos.evidence.sample.PublicAddressConf">
		<property name="allPublicAddress">
			<map>
				<entry key="User" value="0x33674063c4618f4773fac75dc2f07e55f6f391ce">
				</entry>
				<entry key="Arbitrator" value="0x6bc952a2e4db9c0c86a368d83e9df0c6ab481102">
				</entry>
				<entry key="Depositor" value="0x5a6c7ccf9efa702f4e8888ff7e8a3310abcf8c51">
				</entry>
			</map>
		</property>
	</bean>
</beans>
